body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 85%);
  font-family: 'inter', Arial, Helvetica, sans-serif;
}

button {
  background-color: hsl(190, 8%, 43%);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02rem;
  cursor: pointer;
}

.app {
  max-width: 750px;
  margin: 50px auto;
  padding: 32px 45px 40px 45px;
  background-color: hsl(189, 4%, 32%);

  border-radius: 5px;
}
