.hidden {
  display: none;
}

.selected {
  background-color: hsl(190, 9%, 56%);
}

.no-padding {
  padding: 30px 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}
